.benefits {
  background: linear-gradient(183.29deg, #002136 13.99%, #110036 93.14%);
  &__main {
    &__content {
      .content {
        &-infrastructure {
          padding: 0 16px;
          @media screen and (min-width: 640px) {
            padding: 0 24px;
          }
          height: 100vh;
          @media screen and (min-width: 640px) {
            height: 100vh;
            min-height: 1100px;
          }
          @media screen and (min-width: 950px) {
            height: 100vh;
            min-height: 1548px;
          }
          &__container {
            padding: 38px 0 62px 0;
            @media screen and (min-width: 640px) {
              padding: 90px 0 120px 0;
            }
            @media screen and (min-width: 950px) {
              padding: 120px 0 170px 0;
            }
            max-width: 1172px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
          }
          &__line {
            display: none;
            @media screen and (min-width: 950px) {
              display: block;
              position: absolute;
              height: calc(100% - 476px);
              width: 4px;
              background: #FFFFFF;
              opacity: .2;
              left: 22px;
              top: 476px;
              z-index: 1;
            }
          }
          &__point {
            display: none;
            @media screen and (min-width: 950px) {
              display: block;
              position: absolute;
              height: 48px;
              width: 48px;
              background: rgba($color: #FFFFFF, $alpha: 0.3);
              border-radius: 50%;
              left: 0px;
              top: 404px;
              display: flex;
              justify-content: center;
              align-items: center;
              .point-white {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #FFFFFF;
              }
            }
          }
          &__title {
            margin-bottom: 45px;
            font-weight: 800;
            font-size: 32px;
            line-height: 41px;
            color: rgba(255, 255, 255, 1);
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            .button {
              display: flex;
              align-items: center;
              justify-content: center;
              background: rgba(255, 255, 255, 0.2);
              height: 38px;
              width: 38px;
              margin-right: 16px;
              border-radius: 50%;
              @media screen and (min-width: 640px){
                display: none;
              }
            }
            .text {
              width: 244px;
              @media screen and (min-width: 640px){
                width: auto;
              }
            }
            @media screen and (min-width: 640px){
              font-size: 56px;
              line-height: 64px;
              width: auto;
              margin-bottom: 90px;
            }
            @media screen and (min-width: 950px){
              font-size: 80px;
              line-height: 102px;
              margin-bottom: 160px;
            }
          }
          &__list {
            .list {
              &-title {
                opacity: 0.2;
                font-weight: 800;
                letter-spacing: 0.26em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 48px;
                font-size: 28px;
                line-height: 36px;
                @media screen and (min-width: 640px){
                  font-size: 36px;
                  line-height: 48px;
                }
                @media screen and (min-width: 950px){
                  font-size: 50px;
                  line-height: 64px;
                }
                @media screen and (min-width: 1350px){
                  font-size: 72px;
                  line-height: 92px;
                }
                @media screen and (min-width: 950px) {
                  margin-left: 76px;
                }
              }
              &-discription {
                font-weight: 500;
                font-size: 24px;
                line-height: 31px;
                color: rgba(255, 255, 255, 0.8);
                .bold {
                  font-weight: 800;
                  color: rgba(255, 255, 255, 1);
                }
                margin-bottom: 58.5px;
              }
              &-slider {
                width: 100%;
                max-width: 1072px;
                color: #FFFFFF;
                margin-top: 90px;
                .swiffy-slider {
                  @media (max-width: 640px) {
                    .slider-nav {
                      display: none;
                    }
                  }
                  .slider-nav {
                    background: rgba($color: #FFFFFF, $alpha: 0.3);
                  }
                  .slider-indicators.archSlide > * {
                      background: #FFFFFF;
                  }
                  .slider-indicators.archSlide.number {
                    .number-slide {
                      color: #FFFFFF;
                    }
                    button {
                      background: transparent;
                    }
                  }
                  .slider-container {
                    &__item {
                      .item {
                        &-img {
                          background-position: center;
                          background-repeat: no-repeat;
                          background-size: cover;
                        }
                        
                          &-content {
                            color: #FFFFFF;
                            &__title {
                              color: #FFFFFF;
                            }
                            &__text {
                              font-weight: 500;
                              font-size: 16px;
                              line-height: 25px;
                              color: #FFFFFF;
                              opacity: 0.7;
                              margin-bottom: 46px;
                              margin-left: -65px;
                            }
                            &__discription {
                              color: #FFFFFF;
                              display: flex;
                              flex-direction: row;
                              gap: 90px;
                              opacity: 1;
                              margin-left: -65px;
                              .item {
                                display: flex;
                                flex-direction: column;
                                &-number {
                                  font-weight: 800;
                                  font-size: 26px;
                                  line-height: 33px;
                                  opacity: 1;
                                  .bold {
                                    font-weight: 800;
                                    font-size: 71px;
                                    line-height: 91px;
                                  }
                                }
                                &-text {
                                  font-weight: 500;
                                  font-size: 20px;
                                  line-height: 25px;
                                  color: #FFFFFF;
                                  opacity: 0.7;
                                }
                              }
                            }
                          }
                        @media (max-width: 640px) {
                          &-img {
                            width: 269px;
                            height: 269px;
                            
                          }
                          &-content {
                            width: 100%;
                            margin-top: 40px;
                            &__title {
                              width: 100%;
                              max-width: 700px;
                              margin-left: 0;
                              font-size: 24px;
                              line-height: 31px;
                              color: #FFFFFF;
                            }
                            &__discription {
                              margin-left: 0;
                              font-size: 14px;
                              line-height: 22px;
                              color: #FFFFFF;
                            }
                          }
                        }
                        @media (max-width: 950px) {
                          display: flex;
                          flex-direction: column;
                          &-img {
                          }
                          &-content {
                            width: 100%;
                            margin-top: 40px;
                            color: #FFFFFF;
                            &__title {
                              width: 100%;
                              max-width: 700px;
                              margin-left: 0;
                              color: #FFFFFF;
                            }
                            &__discription {
                              margin-left: 0;
                              color: #FFFFFF;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &-export {
          background: rgba(249, 251, 255, 0.95);
          padding: 0 16px;
          @media screen and (min-width: 640px) {
            padding: 0 24px;
          }
          &__container {
            padding: 60px 0 100px;
            @media screen and (min-width: 640px) {
              padding: 90px 0 160px;
            }
            @media screen and (min-width: 950px) {
              padding: 160px 0 218px;

            }
            max-width: 1172px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
          }
          &__line {
            display: none;
            @media screen and (min-width: 950px) {
              display: block;
              position: absolute;
              height: calc(100% - 254px);
              width: 4px;
              background: #0C314C;
              opacity: .2;
              left: 22px;
              top: 254px;
              &-prev {
                position: absolute;
                height: 156px;
                width: 4px;
                background: #0C314C;
                opacity: .2;
                left: 22px;
                top: 0px;
              }
            }
          }
          &__point {
            display: none;
            @media screen and (min-width: 950px) {
              display: block;
              position: absolute;
              height: 48px;
              width: 48px;
              background: rgba($color: #0C314C, $alpha: 0.3);
              border-radius: 50%;
              left: 0px;
              top: 182px;
              display: flex;
              justify-content: center;
              align-items: center;
              .point-white {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #0C314C;
              }
            }
          }
          &__list {
            .list {
              &-title {
                opacity: 0.3;
                font-weight: 800;
                letter-spacing: 0.26em;
                text-transform: uppercase;
                color: #0C314C;
                margin-bottom: 38px;
                font-size: 28px;
                line-height: 36px;
                @media screen and (min-width: 640px){
                  font-size: 36px;
                  line-height: 48px;
                  margin-bottom: 60px;
                }
                @media screen and (min-width: 950px){
                  font-size: 50px;
                  line-height: 64px;
                  margin-left: 76px;
                  margin-bottom: 85px;
                }
                @media screen and (min-width: 1350px){
                  font-size: 72px;
                  line-height: 92px;
                }
              }
              &-slider {
                width: 100%;
                max-width: 1072px;
                .swiffy-slider {
                  @media (max-width: 640px) {
                    .slider-nav {
                      display: none;
                    }
                  }
                  .slider-container {
                    &__item {
                      .item {
                        &-img {
                          background-position: center;
                          background-repeat: no-repeat;
                          background-size: cover;
                        }
                        @media (max-width: 640px) {
                          &-img {
                            width: 269px;
                            height: 269px;
                            
                          }
                          &-content {
                            width: 100%;
                            margin-top: 40px;
                            &__title {
                              width: 100%;
                              max-width: 700px;
                              margin-left: 0;
                              font-size: 24px;
                              line-height: 31px;
                            }
                            &__discription {
                              margin-left: 0;
                              font-size: 14px;
                              line-height: 22px;
                            }
                          }
                        }
                        @media (max-width: 950px) {
                          display: flex;
                          flex-direction: column;
                          &-img {
                          }
                          &-content {
                            width: 100%;
                            margin-top: 40px;
                            &__title {
                              width: 100%;
                              max-width: 700px;
                              margin-left: 0;
                            }
                            &__discription {
                              margin-left: 0;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &-rent {
          background: rgba(249, 251, 255, 0.95);
          padding: 0 16px;
          @media screen and (min-width: 640px) {
            padding: 0 24px;
          }
          &__container {
            padding: 70px 0px;
            @media screen and (min-width: 640px) {
              padding: 120px 0 96px;
            }
            @media screen and (min-width: 950px) {
              padding: 160px 0 136px;

            }
            max-width: 1172px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
          }
          &__line {
            display: none;
            @media screen and (min-width: 950px) {
              display: block;
              position: absolute;
              height: calc(100% - 252px);
              width: 4px;
              background: #0C314C;
              opacity: .2;
              left: 22px;
              top: 252px;
              &-prev {
                position: absolute;
                height: 156px;
                width: 4px;
                background: #0C314C;
                opacity: .2;
                left: 22px;
                top: 0px;
              }
            }
          }
          &__point {
            display: none;
            @media screen and (min-width: 950px) {
              display: block;
              position: absolute;
              height: 48px;
              width: 48px;
              background: rgba($color: #0C314C, $alpha: 0.3);
              border-radius: 50%;
              left: 0px;
              top: 180px;
              display: flex;
              justify-content: center;
              align-items: center;
              .point-white {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #0C314C;
              }
            }
          }
          &__list {
            .list {
              &-title {
                opacity: 0.3;
                font-weight: 800;
                letter-spacing: 0.26em;
                text-transform: uppercase;
                color: #0C314C;
                margin-bottom: 30px;
                font-size: 28px;
                line-height: 36px;
                @media screen and (min-width: 640px){
                  font-size: 36px;
                  line-height: 48px;
                  margin-bottom: 60px;
                }
                @media screen and (min-width: 950px){
                  font-size: 50px;
                  line-height: 64px;
                  margin-left: 76px;
                  margin-bottom: 100px;
                }
                @media screen and (min-width: 1350px){
                  font-size: 72px;
                  line-height: 92px;
                  width: 100%;
                  max-width: 1172px;
                }
              }
              &-cards {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 50px;
                @media screen and (min-width: 950px) {
                  margin-left: 76px;
                  flex-direction: row;
                }
                .card {
                  width: 100%;
                  @media screen and (min-width: 950px) {
                    width: 47.5%;
                    max-width: 504px;
                  }
                  &-location {
                    font-weight: 800;
                    font-size: 32px;
                    line-height: 41px;
                    color: #30A5E2;
                    @media screen and (min-width: 640px) {
                      font-size: 38px;
                      line-height: 48px;
                      margin-bottom: 14px;
                    }
                  }
                  &-cost {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    font-weight: 800;
                    color: #0C314C;
                    margin-bottom: 16px;
                    @media screen and (min-width: 640px) {
                      margin-bottom: 20px;
                    }
                    &__number {
                      margin-right: 12px;
                      font-size: 60px;
                      line-height: 76px;
                      @media screen and (min-width: 640px) {
                        margin-right: 20px;
                        font-size: 82px;
                        line-height: 105px;
                      }
                    }
                    &__ga {
                      margin-bottom: 10px;
                      font-size: 32px;
                      line-height: 41px;
                      @media screen and (min-width: 640px) {
                        margin-bottom: 12px;
                        font-size: 38px;
                        line-height: 48px;
                      }
                    }
                  }
                  .underline {
                    height: 1px;
                    width: 100%;
                    max-width: 140px;
                    opacity: 0.1;
                    margin-bottom: 20px;
                    background: #0C314C;
                    @media screen and (min-width: 640px) {
                      max-width: 272px;
                    }
                  }
                  &-discription {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    color: #0C314C;
                    opacity: 0.8;
                    @media screen and (min-width: 640px) {
                      font-size: 20px;
                      line-height: 25px;
                    }
                  }
                }
              }
            }
          }
        }
        &-economy {
          padding: 0 16px;
          @media screen and (min-width: 640px) {
            padding: 0 24px;
          }
          &__container {
            padding: 60px 0 120px;
            @media screen and (min-width: 640px) {
              padding: 90px 0 160px;
            }
            @media screen and (min-width: 950px) {
              padding: 160px 0 260px;
            }
            max-width: 1172px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
          }
          
          &__line {
            display: none;
            @media screen and (min-width: 950px) {
              display: block;
              position: absolute;
              height: calc(100% - 252px);
              width: 4px;
              background: #FFFFFF;
              opacity: .2;
              left: 22px;
              top: 252px;
              &-prev {
                position: absolute;
                height: 156px;
                width: 4px;
                background: #FFFFFF;
                opacity: .2;
                left: 22px;
                top: 0px;
              }
            }
          }
          &__point {
            display: none;
            @media screen and (min-width: 950px) {
              display: block;
              position: absolute;
              height: 48px;
              width: 48px;
              background: rgba($color: #FFFFFF, $alpha: 0.3);
              border-radius: 50%;
              left: 0px;
              top: 180px;
              display: flex;
              justify-content: center;
              align-items: center;
              .point-white {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #FFFFFF;
              }
            }
          }
          &__list {
            .list {
              &-title {
                opacity: 0.2;
                font-weight: 800;
                letter-spacing: 0.26em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 8px;
                z-index: 2;
                position: relative;
                &.nowrap {
                  white-space: nowrap;
                }
                font-size: 28px;
                line-height: 36px;
                @media screen and (min-width: 640px){
                  font-size: 36px;
                  line-height: 48px;
                }
                @media screen and (min-width: 950px){
                  margin-left: 76px;
                  font-size: 50px;
                  line-height: 64px;
                }
                @media screen and (min-width: 1350px){
                  font-size: 72px;
                  line-height: 92px;
                }
              }
              &-content {
                display: flex;
                flex-direction: column;
                @media screen and (min-width: 950px){
                  flex-direction: row;
                  margin-left: 50px;
                }
                @media screen and (min-width: 1350px){
                  margin-left: 75px;
                }
                &__persents {
                  font-weight: 800;
                  font-size: 120px;
                  line-height: 153px;
                  color: #FFFFFF;
                  position: relative;
                  @media screen and (min-width: 640px) {
                    font-size: 130px;
                    line-height: 382px;

                  }
                  @media screen and (min-width: 950px) {
                    margin-right: 55px;
                  }
                  @media screen and (min-width: 1350px) {
                    margin-right: 95px;
                  }
                  .num {
                    position: relative;
                    z-index: 2;
                  }
                  .number {
                    font-size: 200px;
                    line-height: 255px;
                    @media screen and (min-width: 640px) {
                      font-size: 300px;
                      line-height: 382px;
                    }
                  }
                  .absolute {
                    .num {
                      scale: 1.7;
                      opacity: 0.26;
                      filter: blur(6px);
                      position: absolute;
                      top: -20px;
                      left: 0px;
                      z-index: 1;
                      @media screen and (min-width: 640px) {
                        scale: 1.9;
                        top: 20px;
                      }
                    }
                    .ellipse {
                      position: absolute;
                      top: -35px;
                      left: -160px;
                      background: #30A5E2;
                      filter: blur(113px);
                      width: 380px;
                      height: 380px;
                      border-radius: 50%;
                      z-index: 0;
                      @media screen and (min-width: 640px) {
                        width: 680px;
                        height: 680px;
                        top: -135px;
                        left: -200px;
                      }
                    }
                  }
                }
                &__items {
                  display: flex;
                  flex-direction: column;
                  gap: 68px;
                  z-index: 2;
                  overflow: hidden;
                  @media screen and (min-width: 950px) {
                    margin-top: 132px;
                  }
                  .well {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    position: relative;
                    transition: .75s cubic-bezier(0.5, 0, 0.5, 1);
                    height: auto;
                    @media screen and (min-width: 640px) {
                      gap: 68px;
                    }
                  }
                  .item {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    @media screen and (min-width: 640px) {
                      gap: 14px;
                    }
                    &-title {
                      font-weight: 800;
                      font-size: 28px;
                      line-height: 36px;
                      color: #F3F6F8;
                      @media screen and (min-width: 640px){
                        font-size: 42px;
                        line-height: 54px;
                      }
                      @media screen and (min-width: 1350px){
                        font-size: 52px;
                        line-height: 66px;
                      }
                    }
                    &-subtitle {
                      font-weight: 500;
                      font-size: 18px;
                      line-height: 25px;
                      color: #F3F6F8;
                      opacity: 0.5;
                      @media screen and (min-width: 640px){
                        font-size: 24px;
                      }
                      @media screen and (min-width: 1350px){
                        font-size: 28px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &-income {
          padding: 0 16px;
          @media screen and (min-width: 640px) {
            padding: 0 24px;
          }
          &__container {
            max-width: 1172px;
            padding-bottom: 100px;
            @media screen and (min-width: 640px) {
              padding-bottom: 160px;
            }
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
          }
          &__line {
            display: none;
            @media screen and (min-width: 950px)  {
              display: block;
              position: absolute;
              height: calc(100% - 85px);
              width: 4px;
              background: #FFFFFF;
              opacity: .2;
              left: 22px;
              top: 85px;
            }
          }
          &__point {
            display: none;
            @media screen and (min-width: 950px)  {
              display: block;
              position: absolute;
              height: 48px;
              width: 48px;
              background: rgba($color: #FFFFFF, $alpha: 0.3);
              border-radius: 50%;
              left: 0px;
              top: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              .point-white {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #FFFFFF;
              }
            }
          }
          &__list {
            @media screen and (min-width: 950px){
              margin-left: 76px;
            }
            .list {
              &-title {
                opacity: 0.2;
                font-weight: 800;
                letter-spacing: 0.26em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 48px;
                &.nowrap {
                  white-space: nowrap;
                }
                font-size: 28px;
                line-height: 36px;
                @media screen and (min-width: 640px){
                  font-size: 36px;
                  line-height: 48px;
                  margin-bottom: 60px;
                }
                @media screen and (min-width: 950px){
                  font-size: 50px;
                  line-height: 64px;
                  margin-bottom: 80px;
                }
                @media screen and (min-width: 1350px){
                  font-size: 72px;
                  line-height: 92px;
                }
              }
              &-content {
                display: flex;
                flex-direction: column;
                color: #FFFFFF;
                &__header {
                  font-weight: 800;
                  font-size: 24px;
                  line-height: 18px;
                  opacity: 0.5;
                  margin-bottom: 28px;
                  .persent {
                    font-size: 18px;
                    line-height: 23px;
                    @media screen and (min-width: 640px){
                      font-size: 19px;
                      line-height: 24px;
                    }
                    @media screen and (min-width: 950px){
                      font-size: 20px;
                      line-height: 25.5px;
                    }
                  }
                  @media screen and (min-width: 640px){
                    font-size: 28px;
                    line-height: 26px;
                    margin-bottom: 32px;
                  }
                  @media screen and (min-width: 950px){
                    font-size: 32px;
                    line-height: 41px;
                    margin-bottom: 38px;
                  }
                }
                .underline {
                  height: 1px;
                  width: 100%;
                  max-width: 572px;
                  margin-bottom: 28px;
                  background: #FFFFFF;
                  opacity: .15;
                }
                &__items {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  .item {
                    width: max-content;
                    @media screen and (min-width: 950px) {
                      width: 33%;
                    }
                    &-persents {
                      font-weight: 800;
                      font-size: 60px;
                      line-height: 76px;
                      .persent {
                        font-size: 32px;
                        @media screen and (min-width: 640px) {
                          font-size: 49px;
                        }
                        @media screen and (min-width: 950px) {
                          font-size: 57px;
                        }
                        @media screen and (min-width: 1350px) {
                          font-size: 72px;
                        }
                      }
                      @media screen and (min-width: 640px) {
                        font-size: 86px;
                        line-height: 100px;
                      }
                      @media screen and (min-width: 950px) {
                        font-size: 100px;
                        line-height: 136px;
                      }
                      @media screen and (min-width: 1350px) {
                        font-size: 130px;
                        line-height: 166px;
                      }
                    }
                    &-text {
                      opacity: .7;
                      font-weight: 500;
                      font-size: 14px;
                      line-height: 18px;
                      @media screen and (min-width: 640px) {
                        font-size: 18px;
                        line-height: 26px;
                      }
                      @media screen and (min-width: 950px) {
                        font-size: 24px;
                        line-height: 32px;
                      }
                      @media screen and (min-width: 1350px) {
                        font-size: 28px;
                        line-height: 36px;
                      }
                    }
                  }
                }
                &__ps {
                  margin-top: 36px;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 18px;
                  color: #FFFFFF;
                  opacity: 0.7;
                  @media screen and (min-width: 640px) {
                    font-size: 16px;
                    line-height: 20px;
                    margin-top: 46px;
                  }
                  @media screen and (min-width: 950px) {
                    font-size: 18px;
                    line-height: 22px;
                  }
                  @media screen and (min-width: 1350px) {
                    font-size: 20px;
                    line-height: 25px;
                  }
                }
              }
            }
          }
        }
        &-support {
          // padding: 0 16px;
          @media screen and (min-width: 640px) {
            padding: 0 24px;
          }
          &__container {
            padding: 0px 0 160px;
            @media screen and (min-width: 640px) {
              padding: 40px 0 180px;
            }
            @media screen and (min-width: 950px) {
              padding: 160px 0 218px;
            }
            max-width: 1172px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
          }
          &__line {
            display: none;
            @media screen and (min-width: 950px) {
              display: block;
              &-prev {
                position: absolute;
                height: 261px;
                width: 4px;
                background: #FFFFFF;
                opacity: .2;
                left: 22px;
                top: 0px;
              }
            }
          }
          &__point {
            display: none;
            @media screen and (min-width: 950px) {
              display: block;
              position: absolute;
              height: 48px;
              width: 48px;
              background: rgba($color: #FFFFFF, $alpha: 0.3);
              border-radius: 50%;
              left: 0px;
              top: 280px;
              display: flex;
              justify-content: center;
              align-items: center;
              .point-white {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #FFFFFF;
              }
            }
          }
          &__list {
            position: relative;
            height: 1100px;
            .list {
              &-title {
                opacity: 0.2;
                font-weight: 800;
                letter-spacing: 0.26em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-top: 82px;
                z-index: 2;
                font-size: 28px;
                line-height: 36px;
                padding: 0 16px;
                @media screen and (min-width: 640px){
                  font-size: 36px;
                  line-height: 48px;
                  margin-top: 101px;
                  padding: 0;
                }
                @media screen and (min-width: 950px){
                  margin-left: 76px;
                  font-size: 50px;
                  line-height: 64px;
                }
                @media screen and (min-width: 1350px){
                  font-size: 72px;
                  line-height: 92px;
                }
              }
              &-slider {
                width: 100%;
                max-width: 1072px;
                position: absolute;
                left: 0;
                top: 0;
                .slider {
                  &-nav {
                    margin-bottom: 0px;
                    margin-top: 390px;
                    @media (max-width: 640px) {
                      display: none;
                    }
                    @media (max-width: 950px) {
                      margin-top: 190px;
                    }
                  }
                  &-indicators {
                    margin-bottom: 130px;
                    @media (max-width: 640px) {
                      margin-bottom: 20px;
                    }
                    @media (max-width: 950px) {
                      margin-bottom: 100px;
                    }
                    &.number {
                      display: none;
                      @media screen and (min-width: 1100px) {
                        display: block;
                        margin-bottom: 0px;
                        margin-top: 390px;
                        .number-slide {
                          opacity: 0;
                          color: #FFFFFF;
                          background: transparent;
                          &.active {
                            opacity: 1;
                            background: transparent;
                          }
                        }
                        
                      }
                    }
                  }
                  &-nav {
                    background: rgba($color: #FFFFFF, $alpha: 0.3);
                  }
                  &-container {
                    &__item {
                      height: 900px;
                      @media screen and (min-width: 480px) {
                        height: 800px;
                      }
                      @media screen and (min-width: 640px) {
                        height: 1100px;
                      }
                      .item {
                        position: relative;
                        margin-top: 400px;
                        @media screen and (max-width: 950px) {
                          margin-top: 200px;
                          display: flex;
                          flex-direction: column;
                          &-content {
                            width: 100%;
                            margin-top: 40px;
                            &__title {
                              width: 100%;
                              max-width: 700px;
                              margin-left: 0;
                            }
                            &__discription {
                              margin-left: 0;
                            }
                          }
                        }
                        @media screen and (max-width: 640px) {
                          padding: 0 16px;
                          margin-top: 172px;
                          &-img {
                            width: 269px;
                            height: 269px;
                          }
                          &-content {
                            width: 100%;
                            margin-top: 40px;
                            &__title {
                              width: 100%;
                              max-width: 700px;
                              margin-left: 0;
                              font-size: 24px;
                              line-height: 31px;
                            }
                            &__discription {
                              margin-left: 0;
                              font-size: 14px;
                              line-height: 22px;
                            }
                          }
                        }
                        &-img {
                          background-position: center;
                          background-repeat: no-repeat;
                          background-size: cover;
                          &__bg {
                            position: absolute;
                            top: 60px;
                            left: -55px;
                            width: 100%;
                            height: 100%;
                            max-width: 441px;
                            max-height: 441px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            filter: blur(5px);
                            background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 35.3%), rgba(255, 255, 255, 0.3);
                            opacity: 0.2;
                            @media screen and (min-width: 640px) {
                              top: 5px;
                              left: 5px;
                              max-width: 1000px;
                              max-height: 1000px;
                            }
                          }
                        }
                        &-content {
                          &__title {
                            color: #FFFFFF;
                          }
                          &__discription {
                            color: #FFFFFF;
                          }
                        }
                      }
                    }
                  }
                }
                .slider-indicators-square.slider-indicators > *, .slider-indicators-square .slider-indicators > * {
                  width: 10px;
                  height: 10px;
                  background: #FFFFFF;
                  opacity: 0.2;
                  border-radius: 12px;
                  border: 0;
                  margin: 0 5px;
                }
                .slider-indicators.archSlide > .active {
                  background: #FFFFFF;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}