// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Onest", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
	--bg: #e3e4e8;
	--bgT: #e3e4e800;
	--fg: #17181c;
	--inputBg: #fff;
	--handleBg: #30A5E2;
	--handleDownBg: #30A5E2;
	--handleTrackBg: #30A5E2;
	// font-size: calc(16px + (32 - 16)*(100vw - 320px)/(2560 - 320));
}